@model zooforum.Models.AnimalViewModel

@{
    ViewData["Title"] = "Delete Animal";
}

<h2>Delete Animal</h2>

<div>
    <h4>Are you sure you want to delete this animal?</h4>
    <h5>Name: @Model.Name</h5>
    <h5>Type: @Model.Type</h5>
    <h5>Breed: @Model.Breed</h5>
    <h5>Info: @Model.Info</h5>
    <h5>History: @Model.History</h5>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}